/* public layout */
html, body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
.page{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fixed-header{
    position: absolute;
    left: 0;
    top: 0;
    background: #68b2ed;
    color: #000;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    z-index: 500;
    backface-visibility: hidden;
   
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.navbar{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.weeks{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 24px;
    z-index: 20;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
    font-size: 11px;
   
}
.weeks .calendar-week-day {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    width: 14.28571429%;
    width: calc(100% / 7);
    text-align: center;
    line-height: 24px;
}
     
.page-content{
    padding-top: 56px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    z-index: 1;
}
.text-center {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    }


 /* page-calendar */
 .page-calendar {
    font-size: 16px;
 }
.page-calendar .navbar .link {
    text-decoration: none;
    line-height: 45px;
}
  .page-calendar .navbar .left.abs {
    position: absolute;
    top:0;
    }
   .page-calendar .navbar .title {
    margin: 0 auto;
    }
   
   .page-calendar .calendar {
    height: auto;
    margin-top: 5px;
    }
    .page-calendar .calendar .calendar-month {
    position: relative;
    }
     .page-calendar .calendar .calendar-month:after {
    margin: 10px 0;
    content: '';
    position: relative;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 1px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
    }
   .page-calendar .calendar .calendar-month .calendar-day.calendar-day-disabled {
    pointer-events: none !important;
    cursor: default !important;
    }
    .back_arrow{font-size: 45px; padding: 0 16px;}






/* caledar */
.calendar {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}


    .calendar-months {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    -ms-flex-negative: 10;
        flex-shrink: 10;
    }
    .calendar-months-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 300ms;
    }
    .calendar-month {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    left: 0;
    top: 0;
    }
    .calendar-row {
    height: 16.66666667%;
    height: calc(100% / 6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-shink: 1;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    }
    .calendar-day {
    flex-shink: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    width: 14.28571429%;
    width: calc(100% / 7);
    text-align: center;
    cursor: pointer;
    z-index: 20;
    color: #000;
    height: 100%;
    }
    .calendar-day.calendar-day-prev,
    .calendar-day.calendar-day-next {
    color: #b8b8b8;
    }
    .calendar-day.calendar-day-disabled {
    color: #d4d4d4;
    pointer-events: none !important;
    cursor: default !important;
    }
    .calendar-day.calendar-day-disabled span.calendar-day-weekend {
    color: #d4d4d4;
    }
    .calendar-day.calendar-day-selected span {
    color: #fff;
    }
    .calendar-day.calendar-day-has-events span:after {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    margin-left: -2px;
    left: 50%;
    bottom: 1px;
    }
    .calendar-day span {
    display: inline-block;
    border-radius: 100%;
    position: relative;
    }
    .calendar-day span.calendar-day-weekend {
    color: red;
    }
    .calendar-range .calendar-day.calendar-day-selected {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    }
    .calendar-range .calendar-day.calendar-day-selected span {
    width: 100%;
    border-radius: 0;
    height: auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    }

       .calendar-day.calendar-day-today span {
        color: #2196f3;
        }
       .calendar-day.calendar-day-has-events span:after {
        background: #2196f3;
        }
       .calendar-day.calendar-day-has-events.calendar-day-selected span:after {
        background-color: #fff;
        }
        .calendar-day.calendar-day-selected span {
        background: #2196f3;
        color: #fff;
        }
       .calendar-day span {
        width: 36px;
        height: 36px;
        line-height: 36px;
        }
         .calendar-range .calendar-day.calendar-day-selected span {
        color: #fff;
        }


        
